@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

/* Include Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
      width: 7px;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
      background: #BCADAD;
      border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #F6515D;
      border-radius: 0px;
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }